body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.logo {
  font-family: "Raleway", sans-serif;
  color: black;
  text-decoration: none;
  font-size: 26px;
}
.logo-blue {
  color: #2196f3;
}
.main-navigation {
  font-weight: 500;
  font-size: 14px;
}
.main-navigation a {
  text-decoration: none;
  color: #212121;
}

.main-navigation a:visited {
  color: #212121;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #2196f3;
}
.contact-information {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: #757575;
}
.contact-information:hover,
.contact-information:focus {
  color: #2196f3;
}
.slogan {
  color: #ffffff;
  background: #2f303a;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
}
.order-button {
  background: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  cursor: pointer;
}

.article-title {
  font-size: 14px;
}
.article-description {
  font-size: 14px;
  line-height: 171%;
  color: #757575;
}
.section-title {
  font-size: 36px;
}
.team-member {
  font-weight: 500;
  font-size: 16px;
}
.position-name {
  font-size: 16px;
  color: #757575;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  background: #f5f4fa;
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  background: #2196f3;
  color: white;
}

.street-name {
  color: #ffffff;
  background: #2f303a;
  font-size: 14px;
  line-height: 171%;
}
.footer-contact-information a {
  text-decoration: none;
  background: #2f303a;
  font-size: 14px;
  line-height: 171%;
  color: rgba(255, 255, 255, 0.6);
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%s;
}
.project-category {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
}
